body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

.debut {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


/* 音频选择 */
.music-load {
  position: absolute;
  bottom: 6rem;
  color: silver;
}

.music-goon {
  position: absolute;
  bottom: 4rem;
}

/* 背景部分 */
.music-cover-background {
  position: absolute;
}

/* 前景部分 */
.music-cover {
  width: 23.75rem;
  height: 23.75rem;
  box-sizing: border-box;
  /* border: 0.125rem solid #B3B3B3; */
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.music-cover-image {
  width: 21.25rem;
  height: 21.25rem;
  border: none;
  border-radius: 50%;
  animation: rotate infinite linear 25s;
}

/* .music-cover::before {
  content: "";
  position: absolute;
  width: 21.25rem;
  height: 21.25rem;
  border-radius: 50%;
  filter: blur(1.875rem);
  background-image: radial-gradient(white, silver);
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
